@import "tailwindcss";
.logo{
font-family: 'Playwrite DK Loopet', sans-serif;
}
/* styles.css */
* {
   overflow: hidden;
}


.main-page{
  overflow: auto;
}
*::-webkit-scrollbar {
 width: 0.4rem;
}
*::-webkit-scrollbar-track {
 background-color: black;
}
*::-webkit-scrollbar-thumb {
 background-color: whitesmoke;
 border-radius: 5px;

}
